/* General styles */

* {
    font-family: sans-serif;
}

.element {
    cursor: pointer;

    transition: backdrop-filter 0.5s ease;
}

.blocked {
    backdrop-filter: blur(3px);
}


/* Pre-conceptual schema */

.container {
    position: relative;

    width: 2075px;
    height: 2400px;

    background-image: url("../img/pc-schema.png");
    background-size: cover;
}

/* Dynamic relationships */

#balancesRule {
    position: absolute;
    left: 1564px;
    top: 372px;

    width: 80px;
    height: 30px;
}

#editsRule {
    position: absolute;
    left: 1884px;
    top: 402px;

    width: 80px;
    height: 30px;
}

#editsGraphicElement {
    position: absolute;
    left: 1884px;
    top: 462px;

    width: 80px;
    height: 30px;
}

#generatesWorkProduct {
    position: absolute;
    left: 1884px;
    top: 522px;

    width: 80px;
    height: 30px;
}

#buildsRule {
    position: absolute;
    left: 1564px;
    top: 597px;

    width: 80px;
    height: 30px;
}

#specifiesSpace {
    position: absolute;
    left: 1564px;
    top: 657px;

    width: 80px;
    height: 30px;
}

#createsEvent {
    position: absolute;
    left: 1564px;
    top: 878px;

    width: 80px;
    height: 30px;
}

#createsPlot {
    position: absolute;
    left: 1564px;
    top: 1138px;

    width: 80px;
    height: 30px;
}

#describesChallenge {
    position: absolute;
    left: 1564px;
    top: 1287px;

    width: 80px;
    height: 30px;
}

#definesFlow {
    position: absolute;
    left: 1564px;
    top: 1452px;

    width: 80px;
    height: 30px;
}

#implementsInterface {
    position: absolute;
    left: 1564px;
    top: 1732px;

    width: 80px;
    height: 30px;
}

#determinesGraphicElement {
    position: absolute;
    left: 1564px;
    top: 1822px;

    width: 80px;
    height: 30px;
}

/* Conditionals and Events */

#conditionalRules {
    position: absolute;
    left: 44px;
    top: 832px;

    width: 880px;
    height: 424px;
}

#conditionalInterfaces {
    position: absolute;
    left: 43px;
    top: 1487px;

    width: 880px;
    height: 424px;
}

#event {
    position: absolute;
    left: 391px;
    top: 1971px;

    width: 180px;
    height: 190px;
}