/* General styles */

* {
    font-family: sans-serif;
}

img {
    width: 100%;
}

pre{
    font-family: sans-serif;
}

.element {
    cursor: pointer;
    transition: backdrop-filter 0.5s ease;
}

.blocked {
    backdrop-filter: blur(3px);
    border-radius: 15px;
}

.info {
    border-radius: 50%;
    border: 5px solid black;
    padding: 5px;
    cursor: pointer;
    background-color: white;
}

/* Pre-conceptual schema */

.pc-schema {
    position: relative;

    width: 2075px;
    height: 2400px;

    background-image: url("../img/pc-schema.png");
    background-size: cover;
}

/* Buttons */

#help {
    position: fixed;
    left: 20px;
    top: 20px;

    width: 30px;
    height: 30px;
}

#team {
    position: fixed;
    left: 80px;
    top: 20px;

    width: 30px;
    height: 30px;
}

/* Dynamic relationships */

#balancesRule {
    position: absolute;
    left: 1564px;
    top: 372px;

    width: 80px;
    height: 30px;
}

#editsRule {
    position: absolute;
    left: 1884px;
    top: 402px;

    width: 80px;
    height: 30px;
}

#editsGraphicElement {
    position: absolute;
    left: 1884px;
    top: 462px;

    width: 80px;
    height: 30px;
}

#generatesWorkProduct {
    position: absolute;
    left: 1884px;
    top: 522px;

    width: 80px;
    height: 30px;
}

#buildsRule {
    position: absolute;
    left: 1564px;
    top: 597px;

    width: 80px;
    height: 30px;
}

#specifiesSpace {
    position: absolute;
    left: 1564px;
    top: 657px;

    width: 80px;
    height: 30px;
}

#createsEvent {
    position: absolute;
    left: 1564px;
    top: 878px;

    width: 80px;
    height: 30px;
}

#createsPlot {
    position: absolute;
    left: 1564px;
    top: 1138px;

    width: 80px;
    height: 30px;
}

#describesChallenge {
    position: absolute;
    left: 1564px;
    top: 1287px;

    width: 80px;
    height: 30px;
}

#definesFlow {
    position: absolute;
    left: 1564px;
    top: 1452px;

    width: 80px;
    height: 30px;
}

#implementsInterface {
    position: absolute;
    left: 1564px;
    top: 1732px;

    width: 80px;
    height: 30px;
}

#determinesGraphicElement {
    position: absolute;
    left: 1564px;
    top: 1822px;

    width: 80px;
    height: 30px;
}

/* Conditionals and Events */

#conditionalRules {
    position: absolute;
    left: 44px;
    top: 832px;

    width: 880px;
    height: 424px;
}

#conditionalInterfaces {
    position: absolute;
    left: 43px;
    top: 1487px;

    width: 880px;
    height: 424px;
}

#triggerEvent {
    position: absolute;
    left: 391px;
    top: 1971px;

    width: 180px;
    height: 190px;
}

/* Goal Relationships */

#developingGame {
    position: absolute;
    left: 591px;
    top: 307px;

    width: 80px;
    height: 30px;
}

#refiningRule {
    position: absolute;
    left: 1121px;
    top: 322px;

    width: 80px;
    height: 30px;
}

#guaranteeingBalances {
    position: absolute;
    left: 1431px;
    top: 407px;

    width: 93px;
    height: 30px;
}

#allowingBuilds {
    position: absolute;
    left: 1404px;
    top: 624px;

    width: 80px;
    height: 30px;
}

#ensuringSpecifies {
    position: absolute;
    left: 1691px;
    top: 687px;

    width: 80px;
    height: 30px;
}

#estabilshingSpace {
    position: absolute;
    left: 1084px;
    top: 757px;

    width: 80px;
    height: 30px;
}

#makingHasCoherence {
    position: absolute;
    left: 1274px;
    top: 911px;

    width: 80px;
    height: 30px;
}

#guaranteeingCreates {
    position: absolute;
    left: 1691px;
    top: 941px;

    width: 80px;
    height: 30px;
}

#elaboratingPlot {
    position: absolute;
    left: 1154px;
    top: 1061px;

    width: 80px;
    height: 30px;
}

#developingChallenge {
    position: absolute;
    left: 983px;
    top: 1231px;

    width: 80px;
    height: 30px;
}

#takingCareOfDescribes {
    position: absolute;
    left: 1694px;
    top: 1332px;

    width: 93px;
    height: 30px;
}

#allowingDefines {
    position: absolute;
    left: 1698px;
    top: 1507px;

    width: 93px;
    height: 30px;
}

#developingFlow {
    position: absolute;
    left: 1041px;
    top: 1657px;

    width: 80px;
    height: 30px;
}

#developingInterface {
    position: absolute;
    left: 1184px;
    top: 1777px;

    width: 80px;
    height: 30px;
}

#allowingDetermines {
    position: absolute;
    left: 1388px;
    top: 1777px;

    width: 80px;
    height: 30px;
}

#developingGraphicElement {
    position: absolute;
    left: 1394px;
    top: 1911px;

    width: 80px;
    height: 30px;
}